@model NoticiasLand.Models.NewsModels

@{
    ViewBag.Title = "Create News";
}


@if (User.IsInRole("Publisher") || User.IsInRole("Admin"))
{
    using (Html.BeginForm("Create", "News", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a publication.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <span class="col-md-2 control-label">News Text</span>
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @style = "min-width: 80%; resize:none; min-height:250px;" })
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="form-group">
            <br />
                <div class="col-md-7 pull-right" style="margin-top:15px">
                    <input type="submit" class="btn btn-default btn-lg" value="Create" />
                </div>
            </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr />
    }
}
else
{
    <h2>You need to be role Publisher or higher to be able to create News.</h2>
    <hr />
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}