@model NoticiasLand.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="margin-left:15px;">Personal Information:</dt>
        <dd></dd>
        <dt>User Name -</dt>
        <dd><strong>@Model.UserName</strong></dd>
        <dt>Email -</dt>
        <dd><strong>@Model.Email</strong></dd>
        <dt>Role -</dt>
        <dd>
            @foreach (var role in Model.Role)
            {
                <strong>@role</strong>
            }
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
