@model NoticiasLand.Models.Tags

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Tags</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlSlug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlSlug)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.TagID }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>
